# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

lib/twitter/get_access_token_sample.rb
lib/nlp/*.pyc
lib/nlp/*.pickle
lib/nlp/ipadic
lib/nlp/mysql_info.json